@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300&display=swap');
    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        padding: 0;
        background: #edf0f3;
    }

.navbar-header {
    display: none; /* Esconde o header da navbar no desktop */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #36454f;
    color: #fff;
    position: fixed;
    width: 97%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 50px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.navbar-sidebar {
    width: 200px; /* Diminui a largura da barra lateral */
    background-color: #36454f;
    color: #fff;
    position: fixed;
    height: calc(100% - 70px); /* Ajusta a altura da barra lateral para não cobrir a navbar do topo */
    top: 70px; /* Coloca a barra lateral abaixo da navbar do topo */
    left: 0;
    transition: width 0.3s;
}
.navbar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    list-style: none;
}
li{
    list-style: none;   
}

.navbar-item {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #455a64;
    margin-bottom: 30px; /* Adiciona espaçamento maior entre os itens */
    justify-content: left;
    list-style: none;
}

.navbar-item i {
    margin-right: 10px;
}

.navbar-item:hover {
    background-color: #556677;
}

/* Navbar superior para desktop */
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f9fc;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /* Garante que a navbar do topo fique acima da barra lateral */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f9fc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #000000;
    cursor: pointer;
}

.dropdown-item {
    padding: 5px 0px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-item:hover {
    color: #007bff;
}

.uplayout{
    padding-top: 6rem;
    padding-right: 82rem;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 26px;
    display: flex;
    color: #666;
    margin: 0rem  17rem;
    font-weight: 300;
}
.cards {
    display: flex;
    flex-direction: row;
    margin: 0rem 16rem;
    gap: 2rem; /* Adiciona um espaço entre os cartões */
}

.cardGreen {
    padding:55px 176.75px;
    background-color: #89d99d;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}

.cardBlue {
    padding: 55px 176.75px;
    background-color: #77b2e8;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}

.cardRed {
    padding:55px 176.75px;
    background-color: #e76363;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}

.cardGray {
    padding: 55px 176.75px;
    background-color: #b3b3b3;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}


.grafico {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #edf0f3;
    margin-left: 10.5rem;
    margin-top: 5rem;
}

.container {
    width: 600px; /* Ajustando a largura do contêiner */
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

#dataInfo {
    margin-top: 10px;
    text-align: center;
    color: #555;
    font-size: 0.9em;
}

#selectedDay {
    font-weight: bold;
    color: #0066cc;
}

#attendanceCount {
    font-size: 1.0em;
    color: #009933;
}

.updateSection {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
}

.updateSection h3 {
    margin-bottom: 5px;
    color: #333;
}

.updateSection label {
    margin-right: 5px;
}

.updateSection input, .updateSection select {
    margin-right: 5px;
    padding: 5px;
    font-size: 0.9em;
}

.updateSection button {
    padding: 5px 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.updateSection button:hover {
    background-color: #005bb5;
}

canvas {
    width: 100%;
    height: 150px; /* Altura ajustada para ser mais compacta */
}

.dateTime {
    margin-top: 10px;
    text-align: center;
    color: #555;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .navbar-sidebar {
        width: 0;
        overflow: hidden;
        height: 100%; /* Ajusta a altura da barra lateral para 100% da tela no mobile */
        top: 0; /* Coloca a barra lateral no topo da tela no mobile */
    }
    
    .navbar-header {
        display: flex; /* Mostra o header da navbar no mobile */
    }
    
    .navbar-menu {
        margin-top: 60px; /* Adiciona margem para compensar o header fixo no mobile */
    }
    
    .navbar-top {
        display: none; /* Esconde a navbar superior no mobile */
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 2rem; /* Adiciona um espaço entre os cartões */
    }

    .cardGreen {
        padding:55px 173px;
        background-color: #89d99d;
        margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
    }
    
    .cardBlue {
        padding: 55px 173px;
        background-color: #77b2e8;
        margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
    }
    
    .cardRed {
        padding:55px 173px;
        background-color: #e76363;
        margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
    }
    
    .cardGray {
        padding: 55px 173px;
        background-color: #b3b3b3;
        margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
    }
    .uplayout{
        padding-top: 6rem;
        padding-right: 0rem;
        font-size: 32px;
        letter-spacing: -1px;
        line-height: 26px;
        display: flex;
        color: #666;
        text-align: center;
        margin: 0rem  0rem;
        font-weight: 300;
        justify-content: center;
        align-items: center;
    }
    .grafico {
        display: flex;
        justify-content: center;
        align-items: center;    
        background-color: #edf0f3;
        margin-left: 0rem;
        margin-top: 5rem;
    }
}


