@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: #edf0f3;
}

.navbar-header {
    display: none; /* Esconde o header da navbar no desktop */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #36454f;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 50px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.navbar-sidebar {
    width: 200px; /* Diminui a largura da barra lateral */
    background-color: #36454f;
    color: #fff;
    position: fixed;
    height: calc(100% - 70px); /* Ajusta a altura da barra lateral para não cobrir a navbar do topo */
    top: 70px; /* Coloca a barra lateral abaixo da navbar do topo */
    left: 0;
    transition: width 0.3s;
}
.navbar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    list-style: none;
}
li{
    list-style: none;   
}

.navbar-item {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #455a64;
    margin-bottom: 30px; /* Adiciona espaçamento maior entre os itens */
    justify-content: left;
    list-style: none;
}

.navbar-item i {
    margin-right: 10px;
}

.navbar-item:hover {
    background-color: #556677;
}

/* Navbar superior para desktop */
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f9fc;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /* Garante que a navbar do topo fique acima da barra lateral */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f9fc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #000000;
    cursor: pointer;
}

.dropdown-item {
    padding: 5px 0px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-item:hover {
    color: #007bff;
}

.uplayout{
    padding-top: 6rem;
    padding-right: 82rem;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 26px;
    display: flex;
    color: #666;
    margin: 0rem  17rem;
    font-weight: 300;
}
.cards {
    display: flex;
    flex-direction: row;
    margin: 0rem 16rem;
    gap: 2rem; /* Adiciona um espaço entre os cartões */
}

.cardGreen {
    padding:55px 176.75px;
    background-color: #89d99d;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}

.cardBlue {
    padding: 55px 176.75px;
    background-color: #77b2e8;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}

.cardRed {
    padding:55px 176.75px;
    background-color: #e76363;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}

.cardGray {
    padding: 55px 176.75px;
    background-color: #b3b3b3;
    margin: 0.5rem; /* Adiciona espaço ao redor do cartão */
}



@media (max-width: 768px) {
    .navbar-sidebar {
        width: 0;
        overflow: hidden;
        height: 100%; /* Ajusta a altura da barra lateral para 100% da tela no mobile */
        top: 0; /* Coloca a barra lateral no topo da tela no mobile */
    }
    
    .navbar-header {
        display: flex; /* Mostra o header da navbar no mobile */
    }
    
    .navbar-menu {
        margin-top: 60px; /* Adiciona margem para compensar o header fixo no mobile */
    }
    
    .navbar-top {
        display: none; /* Esconde a navbar superior no mobile */
    }
}
